{% liquid
  assign product = closest.product | default: section.settings.product
  assign block_settings = block.settings
  assign image_ratio = block_settings.image_ratio | default: 'adapt'
  assign constrain_to_viewport = block_settings.constrain_to_viewport | default: 'true'
%}

<div
  class="
    product-media-container
    {% if constrain_to_viewport == 'true' %}constrain-height{% endif %}
  "
  {{ block.shopify_attributes }}
>
  {% if product.media.size > 0 %}
    {% capture slides %}
      {% for media in product.media %}
        {% render 'slideshow-slide',
          index: forloop.index0,
          children: product_media_html,
          slide_id: media.id
        %}
        {% capture product_media_html %}
          {% render 'product-media',
            media: media,
            section: section,
            block: block,
            selected_product: product,
            is_main_product_media: forloop.first
          %}
        {% endcapture %}
      {% endfor %}
    {% endcapture %}

    {% render 'slideshow',
      slides: slides,
      class: 'product-media-slideshow',
      section_id: section.id,
      show_arrows: true,
      show_controls: product.media.size > 1
    %}
  {% else %}
    <div class="product-media-placeholder">
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
</div>

{% stylesheet %}
  .product-media-container {
    position: relative;
    width: 100%;
  }

  .product-media-container.constrain-height {
    max-height: var(--constrained-min-height, 80dvh);
  }

  .product-media-slideshow {
    width: 100%;
    height: 100%;
  }

  .product-media-placeholder {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-secondary, #f5f5f5);
  }

  .product-media-placeholder svg {
    width: 50%;
    height: 50%;
    opacity: 0.5;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.image",
  "settings": [
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:settings.image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:options.adapt_to_image"
        },
        {
          "value": "1",
          "label": "t:options.square"
        },
        {
          "value": "1.33",
          "label": "t:options.landscape"
        },
        {
          "value": "0.75",
          "label": "t:options.portrait"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "select",
      "id": "constrain_to_viewport",
      "label": "t:settings.constrain_to_viewport",
      "options": [
        {
          "value": "true",
          "label": "t:options.yes"
        },
        {
          "value": "false",
          "label": "t:options.no"
        }
      ],
      "default": "true"
    }
  ]
}
{% endschema %}
